<div class="ui container fluid home">

  <div class="ui small top fixed borderless pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Articles
    </a>
    <a class="item">
      Friends
    </a>
    <div class="right menu">
      <div class="item">
        <a class="ui primary button" href="/signUp">Sign up</a>
      </div>
      <div class="item">
        <a class="ui button" href="/login">Log-in</a>
      </div>
    </div>
  </div>

  <div class="ui segment welcome">



    <div class="row">

      <div class="col-md-4">
        <div class="ui link card fBlogCard">
          <div class="ui image">

            <img src="assets/images/john-baker.jpg">



          </div>
          <div class="content">
            <a class="header">First Blog </a>
            <div class="meta">
              <span class="date">Started on 2019</span>
            </div>
            <hr>
            <div class="description">
              Synergistically incubate client-focused paradigms after diverse resources. Interactively incubate integrated experiences for robust strategic theme areas. Enthusiastically create high standards in expertise without bleeding-edge
              results.

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">

        <div class="ui link cards">
          <div class="card">
            <div class="image linkImg">
              <img src="assets/images/deep.png">
            </div>
            <div class="content">
              <div class="header">Matt Giampietro</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <hr>
              <div class="description">
                Matthew is an interior designer living in New York.
              </div>
            </div>

          </div>
          <div class="card">
            <div class="image linkImg">
              <img src="assets/images/man.svg">
            </div>
            <div class="content">
              <div class="header">Molly</div>
              <div class="meta">
                <span class="date">Coworker</span>
              </div>
              <hr>
              <div class="description">
                Molly is a personal assistant living in Paris.
              </div>
            </div>

          </div>
          <div class="card">
            <div class="image linkImg">
              <img src="assets/images/mica.png">
            </div>
            <div class="content">
              <div class="header">Elyse</div>
              <div class="meta">
                <a>Coworker</a>
              </div>
              <hr>
              <div class="description">
                Elyse is a copywriter working in New York.
              </div>
            </div>

          </div>

          <div class="card">
            <div class="image linkImg">
              <img src="assets/images/deep.png">
            </div>
            <div class="content">
              <div class="header">Matt Giampietro</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <hr>
              <div class="description">
                Matthew is an interior designer living in New York.
              </div>
            </div>

          </div>
          <div class="card">
            <div class="image linkImg">
              <img src="assets/images/man.svg">
            </div>
            <div class="content">
              <div class="header">Molly</div>
              <div class="meta">
                <span class="date">Coworker</span>
              </div>
              <hr>
              <div class="description">
                Molly is a personal assistant living in Paris.
              </div>
            </div>

          </div>
          <div class="card ">
            <div class="image linkImg">
              <img src="assets/images/mica.png">
            </div>
            <div class="content">
              <div class="header">Elyse</div>
              <div class="meta">
                <a>Coworker</a>
              </div>
              <hr>
              <div class="description">
                Elyse is a copywriter working in New York.
              </div>
            </div>

          </div>
          <div class="card">
            <div class="image linkImg">
              <img src="assets/images/deep.png">
            </div>
            <div class="content">
              <div class="header">Molly</div>
              <div class="meta">
                <span class="date">Coworker</span>
              </div>
              <hr>
              <div class="description">
                Molly is a personal assistant living in Paris.
              </div>
            </div>

          </div>
          <div class="card ">
            <div class="image linkImg">
              <img src="assets/images/man.svg">
            </div>
            <div class="content">
              <div class="header">Elyse</div>
              <div class="meta">
                <a>Coworker</a>
              </div>
              <hr>
              <div class="description">
                Elyse is a copywriter working in New York.
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

    <div class="ui centered grid mt-3 mb-0">
      <div class="ui animated button orange" tabindex="0">
        <div class="visible content">See More</div>
        <div class="hidden content">
          <i class="down arrow icon"></i>
        </div>
      </div>
    </div>

  </div>
</div>
